* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.sproduct select {
    display: block;
    padding: 5px 10px;
}

.sproduct input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.sproduct input:focus {
    outline: none;
}

.buy-btn {
    background-color: #000000;
    border: none;
    color: white;
    opacity: 3;
    transition: 0.3s all;
    padding: 14px 24px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.col-lg-6{
    margin-top: 15px;
}